body{
  background: url(Descarga.jpg);
  background-size: 100%;
  font-family: gabriola;
  text-align: center;

}
h1{
  font-size: 60px;
  color: black;
}

h2{
  font-size: 40px;
  color: blue;
}

h3{
  font-size: 35px;
  color: blue;
}

p{
  font-size: 35px;
  text-align: center;
  color: black;
}
